
@import url('https://fonts.googleapis.com/css2?family=Khand:wght@500&display=swap');
.videoH{
  position: absolute;
  top: 0;
  z-index: 0;
}
.layout {
  position: relative;
  z-index: 2;
}
.fixI{
  position: absolute;
  top: -2vh;
  width: 40vw;
  left: 5vw;
  animation: salto-voltereta .5s ease-out forwards;
}
@keyframes salto-voltereta {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.grow1 h2 {
  position: absolute;
  top: 7vh;
  left: 45%;
  text-wrap: inherit;
  max-width: 620px;
  max-height: 550px;
  overflow: hidden;
  color: rgb(228, 193, 128);
  font-size: 2em;
  font-family: 'Khand', sans-serif;
  animation: curtain .5s forwards;
  transform-origin: top;
}


@keyframes curtain {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.text{
  position: relative;
  z-index: 1;
  margin-left: 5vw;
  margin-top: 10vh;
  width: 90vw;
  height: 75vh;
  background: rgba(6, 6, 6, 0.35);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 1.5px );
-webkit-backdrop-filter: blur( 1.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
