@media screen and (min-width: 768px) { 
  .about {
    position: relative;
    z-index: 1;
  }
  
  .canvas {
    position: relative;
    z-index: 0;
    margin-top: -20vh;
    margin-left: 10vh;
  }

  
}

@media screen and (max-width: 767px) { 
  .about {
    position: relative;
    z-index: 1;
  }
  
  .canvas {
    position: relative;
    z-index: 0;
    margin-top: -23vh;
    margin-left: -27vw;
  }

  
}

