@media screen and (min-width: 768px) {
    .conten{
        width: 130vh;
        position: relative;
        z-index: 53;
        color:white;
        margin-top: -45vh;
        overflow-wrap: break-word; /* Permite que las palabras se rompan para ajustarse al ancho del contenedor */
        word-wrap: break-word; /* Otra propiedad para compatibilidad con navegadores más antiguos */
        max-width: 500px;
        margin-left: 60%;
        font-family: 'Teko', sans-serif;
    }
}

@media screen and (max-width: 767px) {
    .conten{
        font-family: 'Teko', sans-serif;
        position: relative;
        font-size: 22px;
        line-height: 90%;
        z-index: 53;
        color:white;
        overflow-wrap: break-word; /* Permite que las palabras se rompan para ajustarse al ancho del contenedor */
        word-wrap: break-word;
        max-width: 300px;
        left: 2vh;
        top: 10vh
    }
}

