@media screen and (min-width: 768px) { 
    .about {
      background-image: url('../../../public/istockphoto-1226866571-1024x1024.jpg');
      background-size: cover;
      background-repeat: no-repeat; 
      height: 150vh;
      
    }
    .title1{
        font-size: 2em;
        margin-top: 120px;
      }
    .text1{
        overflow-wrap: break-word; /* Permite que las palabras se rompan para ajustarse al ancho del contenedor */
      word-wrap: break-word; /* Otra propiedad para compatibilidad con navegadores más antiguos */
      max-width: 500px;
      }

    .title2{
        font-size: 2em;
      }

      .subtitle{
        font-size: 1.5em;
      }

      .text2{
      overflow-wrap: break-word; 
      word-wrap: break-word;
      max-width: 500px;
      }
}