@media screen and (min-width: 768px) { 
    .about {
      background-image: url('../../../public/3145241.jpg');
      background-size: cover;
      background-repeat: no-repeat; 
      height: 100vh;
      margin-top: 0;
    }
  
    
}
@media screen and (max-width: 767px) { 
  .about {
    overflow-x: hidden;
    width: 100vw;
    background-image: url('../../../public/3145241.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    height: 145vh;
  }

  
}