
@media screen and (min-width: 768px) {
    .container4{
      position: relative;
      margin-top: 60px;
    }
  
    .title3{
      z-index: 53;
      position: relative;
      font-size: 2em;
      margin-right: 650px;
      margin-top: 250px;
    }
  
    .text3{
      margin-top: 30px;
      overflow-wrap: break-word; /* Permite que las palabras se rompan para ajustarse al ancho del contenedor */
    word-wrap: break-word; /* Otra propiedad para compatibilidad con navegadores más antiguos */
    max-width: 500px;
    margin-right: 650px;
    }
  
    .img3 {
      z-index: 53;
      width: 450px;
      height: 300px;
      margin-right: -560px;
      margin-top: -475px;
    }
  
    .conteinerT3{
      z-index: 53;
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(6, 1fr); /* Create 4 equal-width columns */
      grid-gap: 30px;
      margin-left: -745px;
  }
  .video-container {
    z-index: 53;
    margin-right: -575px;
    margin-top: 70px;
  }
  }
  
  /* Estilos para pantallas pequeñas (hasta 767px) */
  @media screen and (max-width: 767px) {
      .container4 {
          position: relative;
          margin-top: 30px; /* Ajusta el margen según sea necesario */
        }

        .title3{
          z-index: 53;
          position: relative;
          font-size: 2em;
          margin-top: 120px;
        }

        .text3{
          margin-top: 30px;
          overflow-wrap: break-word; /* Permite que las palabras se rompan para ajustarse al ancho del contenedor */
        word-wrap: break-word; /* Otra propiedad para compatibilidad con navegadores más antiguos */
        max-width: 500px;
        }

        .img3 {
          position: relative;
          z-index: 53;
          width: 450px;
          height: 300px;
          margin-top: 50px
        }

        .conteinerT3{
          position: relative;
          z-index: 53;
          margin-top: 15px;
          display: grid;
          grid-template-columns: repeat(4, 1fr); /* Create 4 equal-width columns */
          grid-gap: 30px;
          margin-left: 5px;
      }

      .video-container{
        position: relative;
          z-index: 53;
        width: 80vw;
        height: 30vh;
        margin-top: 20px;
      }
  }