@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.proyecto{
  position: relative;
  top: 17.5vh;
  height: 100vh;
  background-color:rgb(2, 2, 2);
  position: relative;
  z-index: 44;
}
.tittleTrabajos{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgb(2, 2, 2);
  width: 100vw;
  height: 35vh;
  background-image: linear-gradient(179deg,transparent 0%,rgb(34, 34, 34) 0% 85%,transparent 85%);
}

.tittleTrabajos h1{
  font-size: 18vh;
  color: white;
}

h1, h2 {
  font-family: 'Bebas Neue', sans-serif;
}

.wobble-horizontal-top{animation:tracking-in-contract 0.4s linear both} @keyframes tracking-in-contract{0%{letter-spacing:.6em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}}

img{
  position: relative;
  opacity: 5%;
  top: 40vh;
  transition: all 0.5s;

}
.transform_left{
  transform: translateX(20vw);
}
.transform_rigth{
  transform: translateX(-20vw);
}

.aparece{
  opacity: 1;
  position: relative;
  top: 40vh;
  transition: all 0.5s;
  transform: none;

}
#Image{
  position: absolute;
  top: 50vh;
  left: 50vw;
  width: 45vw;
}
.pepe{
  position: absolute;
  top: 50vh;
  left: 5vw;
  font-size: 2.5em;
}
.pepe2{
  font-family: 'Bebas Neue', sans-serif;

  position: absolute;
  top: 55vh;
  left: 5vw;
  color: white;
  font-size: 2em;
}
